<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
</head>

<body>
    <header>
        <img src="../public/img/logo-mercado-liebre.svg" alt="Mercado Libre">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <section>
            <strong>Basado en tu última visita</strong>
            <img src="../public/img/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>$6.770
                40% OFF
                Cafetera Moulinex</p>


            <img src="../public/img/img-macbook-pro-2019.jpg" alt="MacBook">
            <p>$230.000
                20% off
                MacBook Pro 2019</p>

            ,<img src="../public/img/img-samsung-galaxy-s10.jpg" alt="Samsung">
            <p>$70.500
                10% off
                Samsung Galaxy S10</p>


            <img src="../public/img/img-tv-samsung-smart.jpg" alt="SmartTv">
            <p>$23.200
                5% off
                SmartTv Samsung 43"</p>
        </section>
        <section>
            <strong>Sección de Ofertas</strong>
            <img src="../public/img/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>$6.770
                40% OFF
                Cafetera Moulinex</p>


            <img src="../public/img/img-macbook-pro-2019.jpg" alt="MacBook">
            <p>$230.000
                20% off
                MacBook Pro 2019</p>

            ,<img src="../public/img/img-samsung-galaxy-s10.jpg" alt="Samsung">
            <p>$70.500
                10% off
                Samsung Galaxy S10</p>


            <img src="../public/img/img-tv-samsung-smart.jpg" alt="SmartTv">
            <p>$23.200
                5% off
                SmartTv Samsung 43"</p>
        </section>
    </main>
    <footer>
        <section>
            <strong>
                Pagá con tarjeta o en efectivo
            </strong>

            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <strong> Envío gratis desde $ 2.500</strong>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <strong> Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <strong> Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
        </section>
    </footer>
</body>

</html>